

.Card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem;
    /* box-shadow: 2px 2px; */
    margin: 2rem;
    border: 2px solid white;
}

.CardImgholder{
    width: 14rem;
    height: 14rem;
    margin-bottom: 20px;
    border-radius: 100%;
    padding: 20px 16px;
    background-color: #3d65b0;
    align-items: center;
    flex-direction: column;
}

.CardImg{
    width: 8rem;
    height: 8rem;
}
.CardTitle{
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    /* color: black; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}