/* Start Bootstrap carousel */
.itemP {
    height: 32rem;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: flex-start;
  }
  .itemP > img {
    width: 100%;
    object-fit:cover;
    height: 20rem;
    margin-top: 0;
    /* border: 2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }

  .itemP p{
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
    /* border: 2px solid black; */
    /* margin-bottom: 5px; */
  }
  
 
  /* End Bootstrap carousel */
  