/* Start Bootstrap carousel */
.itemP {
    height: 32rem;
    justify-content: center;
    align-items: flex-start;
  }
  .itemP > img {
    width: 100%;
    object-fit:cover;
    height: 20rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }

  .itemP p{
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
  }




  @media screen and (max-width:1450px) {
    .itemP {
      height: auto;
    }

    .itemP > img {
      width: 100%;
      object-fit:scale-down;
      height: auto;
      
    }


}

  @media screen and (max-width:768px) {
    .itemP {
      height: auto;
    }

    .itemP > img {
      width: 100%;
      object-fit:scale-down;
      height: auto;
      
    }

    .itemP p{
      font-size: 30px;
     
    }


}



@media screen and (max-width:500px) {
  

  .itemP p{
    font-size: 25px;
   
  }


}
  
  